* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.center-content {
  justify-content: center;
  text-align: center
}

.margin-top-currency {
  margin-top: 3rem;
}

.btn-custom {
  margin-top: 5rem;
  width: 10%
}

input[type=number] {
  border-radius: 7px;
}

select {
  border-radius: 7px;
}